
/*	Resets	------	*/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,hgroup,menu,header,footer,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0}article,aside,canvas,figure,figure img,figcaption,hgroup,footer,header,nav,section,audio,video{display:block}a img{border:0}figure{position:relative}figure img{width:100%}
/*-----------------------------------
FUENTES
------------------------------------*/
*{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */ 
	-moz-box-sizing: border-box; /* Firefox, other Gecko */ 
	box-sizing: border-box; /* Opera/IE 8+ */
}
@font-face {
    font-family: 'OmnesSemiBold';
    src: url('../fonts/omnes-se-webfont-webfont.eot');
    src: url('../fonts/omnes-se-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes-se-webfont-webfont.woff') format('woff'),
         url('../fonts/omnes-se-webfont-webfont.ttf') format('truetype'),
         url('../fonts/omnes-se-webfont-webfont.svg#omnessemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OmnesMedium';
    src: url('../fonts/omnes-me-webfont-webfont.eot');
    src: url('../fonts/omnes-me-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes-me-webfont-webfont.woff') format('woff'),
         url('../fonts/omnes-me-webfont-webfont.ttf') format('truetype'),
         url('../fonts/omnes-me-webfont-webfont.svg#omnesmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OmnesLight';
    src: url('../fonts/omnes-li-webfont.eot');
    src: url('../fonts/omnes-li-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes-li-webfont.woff') format('woff'),
         url('../fonts/omnes-li-webfont.ttf') format('truetype'),
         url('../fonts/omnes-li-webfont.svg#omnesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*------------------------------------
GENERAL
-------------------------------------*/

html, body {
	height: 100%!important;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */ 
	-moz-box-sizing: border-box; /* Firefox, other Gecko */ 
	box-sizing: border-box; /* Opera/IE 8+ */
	font-family: 'OmnesLight';
	
}
body {  
	font-weight:normal;
	margin: 0;
	padding: 0;

	background-attachment: fixed;
	background-position: 50% 50%;
	background-size: cover;
}

.bg-cablevision-1 {
	background-image: url(../img/fondo-01.jpg) !important;	
}
.bg-cablevision-2 {
	background-image: url(../img/fondo-02.jpg) !important;
}
.bg-cablevision-3 {
	background-image: url(../img/bg-red.jpg) !important;
}
.bg-cablevision-3 {
	background-image: url(../img/bg-red.jpg) !important;
}

h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
}

.containerCableFiber { 
	margin: auto;
	position:relative;	
	min-height:100%!important;
}

.wrapper{ 
	max-width:640px!important;
	min-width:300px;
	margin: 0 auto;
	position:relative;
	padding:20px 40px;
	display: inline-block;
  width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */ 
	-moz-box-sizing: border-box; /* Firefox, other Gecko */ 
	box-sizing: border-box; /* Opera/IE 8+ */
}

/*----------------
REUTILIZABLES
----------------*/
.clear { clear:both!important;}
strong{ font-family: 'OmnesSemiBold';}
.mb0 {margin-bottom:0!important;}
/*------------------------------------
HEADER
-------------------------------------*/
.header {
	width:100%;
	margin:0px auto 0;
	background:#000000;	
	padding:10px 20px;
	float:left;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */ 
	-moz-box-sizing: border-box; /* Firefox, other Gecko */ 
	box-sizing: border-box; /* Opera/IE 8+ */
}

h1 span.brand {	
	float:left;
	width: 55%;
	max-width: 220px;
	display:block;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
h1 span.brand img {
	width:100%;
}
h2.titulo {
font-family:'OmnesLight';
	font-size:21px;
	background:#4a4a4a;
	color:#dbdbdb;
	padding:10px 40px;
	width:100%;
	float:left;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */ 
	-moz-box-sizing: border-box; /* Firefox, other Gecko */ 
	box-sizing: border-box; /* Opera/IE 8+ */
}
/*------------------------------------
MAIN & FOOTER
-------------------------------------*/
.page-wrap {
  min-height: 100%;
  margin-bottom: -65px; 
}



/*-----------------------------------
main
-------------------------------------*/

.columna {
	width:100%;
	max-width:640px;
	float:right;
	position:relative;
	margin-left:0;
}
.half {
	width:50%;
	float:left;
	position:relative;
	margin-left:0;
}

h3 {
	font-size:18px;
	font-family: 'OmnesLight';
	color:#8e8e8f;
	margin:15px 0;
	padding:0px;
}
h3 span {
	color:#f42733
}
h3.tilde {
	padding-left:30px;
	position:relative;
}
h3.tilde span{
	background:url("../img/tilde.png") no-repeat top transparent;
	background-size:contain;
	width:20px;
	height:20px;
	position:absolute;
	left:0px
}
h4 {
	font-size:18px;
	font-family: 'OmnesLight';
	color:#8e8e8f;
	margin:15px 0;
	padding:20px;
}

p{
	font-size:18px;
	font-family: 'OmnesLight';
	color:#8e8e8f;
	margin:0 0 10px;
}

/**/
form {
	font-family: 'OmnesMedium';
	max-width:100%;
}
	form {
		display:inline-block;
		width:100%;
	}
label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 16px;
	float:left;
	color:#6e6e6e;
}
input[type=radio],
input[type=checkbox] {
	display: none;
}
label:before {
	content: "";
	display: inline-block;
	
	width: 18px;
	height: 18px;
	
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #c6c4c6;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;

}
.radio {
	margin:15px 0;
}
.checkbox label {
	margin-bottom: 10px;
}
.checkbox label:before {
    border-radius: 3px;
}
.radio label:before {
	border-radius: 8px;
}
input[type=checkbox]:checked + label:before {
	content: "\2713";
	font-size: 15px;
	color: #f3f3f3;
	text-align: center;
  line-height: 18px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	max-width:100%;
}
input[type=radio]:checked + label:before {
    content: "\2022";
    color: #6e6e6e;
    font-size: 30px;
    text-align: center;
    line-height: 16px;
}

input[type=text] {
	width:100%;
	height:40px;
	line-height:40px;
	font-size: 18px;
	padding: 0 15px;
	background:#fff;
	border:0;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	color: #797979;
	float:left;
	clear:both;
	margin-bottom:15px;
	font-family:'OmnesLight';
}
input[type=text].doscol, .doscol {
	width:66%!important;
	  float: right;
  clear: none;
}
input[type=submit] {
		width:100%;
		height:40px;
		line-height:40px;
		font-size: 21px;
	color:#fff;
	background:#db262c;
	border:0;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	font-family:'OmnesLight';
	float:left;
	clear:both;
	margin-top:30px;
	margin-bottom:30px;
}
.control-group {
	width:100%; 
	float:left;
	display:inline-block;
	margin-bottom:15px;
	height:40px;
		line-height:40px;
		-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
		background:#fff;

}
.control-group.tipo {
	width:32%; 
}
.pregunta-box {
	width:100%;
	padding-right:50px;
	float:left;
	position:relative;
}
a.pregunta{
	width:35px;
	line-height:35px;
	height:35px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-moz-border-radius: 50%;
	font-family:'OmnesMedium';
	float:left;
	text-align:center;
	text-decoration: none;
	color:#fff;
	background:#f42733;
	position:absolute;
	right:0;
	font-size:21px;
}
	p.pass.rojo ,
	a.pass.rojo {
		color: #db262c;
	}
	p.pass ,
	a.pass {
	float: left;
	clear: both;
	width: 100%;
	padding: 15px 0 0;
	text-decoration: none;
	color:#797979;
	font-size:18px;
	font-family:'OmnesLight';
}
a.btn-form {
	width:35px;
	line-height:35px;
	height:35px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-moz-border-radius: 50%;
	font-family:'OmnesMedium';
	float:left;
	text-align:center;
	text-decoration: none;
	margin-right:15px;
	  margin-bottom: 30px;
	background:#ffffff;
		color:#6e6e6e;
}
a.btn-form:hover,
a.btn-form.active {
	color:#fff;
	background:#f42733;
}
.box-scroll {
 height:160px;
 padding:15px;
 width:100%;
 overflow-y:scroll;
 background:#ffffff;
 -webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
}
.box-scroll p {

}

::-webkit-input-placeholder {
	color: #797979;	font-size:18px; line-height:40px;font-family:'OmnesLight';
}
:-moz-placeholder { /* Firefox 18- */
	color: #797979;	font-size:18px; line-height:40px;font-family:'OmnesLight';
}
::-moz-placeholder {  /* Firefox 19+ */
	color: #797979;	font-size:18px; line-height:40px;font-family:'OmnesLight';
}
:-ms-input-placeholder {  
	color: #797979;	font-size:18px; line-height:40px;font-family:'OmnesLight';
}

input.error {
	border:2px solid #db262c;
}

/*------------------------------------
LOGIN
-------------------------------------*/
#mainLogin{
	font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
	position:absolute;
	top:300px;
	left:50%;
	margin:-150px 0 0 -230px;
	padding:10px 10px 20px;
	-moz-box-shadow:0 0 6px #aaa;
	-webkit-box-shadow:0 0 6px #aaa;
	box-shadow:0 0 6px #aaa;
	-moz-border-radius:8px 8px 8px 8px;
	-webkit-border-radius:8px 8px 8px 8px;
	border-radius:8px 8px 8px 8px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border:1px solid #b3b3b3;
	background-color: #eee;
	width:460px;
}




/*---------------
RESPONSIVE
-----------------*/

@media screen and (max-width: 480px) {

	.wrapper{ 
		padding:20px;
	}
	h2.titulo{ 
		font-size:18px;
		font-weight: normal;
		padding:10px 20px;
	}
	#mainLogin {
		top:230px !important;
		width:99%;
		left:0%;
		margin:-150px 0 0 0px !important;
		padding:10px 10px !important;
	}
}
@media(max-width: 767px){

}