<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div id="footer">
				<div id="category-navigation">
					<nav>
						<!--INI Menu-->
						<ul>
							<li class="item">
								Televisión
							</li>
							<li class="item">
									Internet
							</li>
							<li class="item">
								Combos
								<ul>
									<li><a href="#">Arma tu combo</a></li>
								</ul>
							</li>
							<li class="item">
								Info Útil
								<ul>
									<li><a href="#">Medios de atención</a></li>
									<li><a href="#">Centro de soluciones</a></li>
									<li><a href="#">Sucursales</a></li>
									<li><a href="#">Medios de pago</a></li>
									<li><a href="#">Cambio de Domicilio</a></li>
								</ul>
							</li>
							<li class="item">
								<a href="#" class="customTitulos">Clientes</a>
								<ul>
									<li><a href="#">Mis Pagos y Factura</a></li>
									<li><a href="#">Beneficios</a></li>
									<li><a href="#">Adquirir productos</a></li>
									<li><a href="#">Programación</a></li>
									<li><a href="#">Atención al Cliente</a></li>
								</ul>
							</li>
							<li class="item">
								&nbsp;&nbsp;&nbsp;
							</li>
							<li class="item">
								<a href="#" class="customTitulos">Institucional</a>
								<ul>
									<li><a href="#">Nuestra Compañía</a></li>
									<li><a href="#">Inversores</a></li>
									<li><a href="#">Prensa</a></li>
									<li><a href="#">Res 173/10</a></li>
									<li><a href="#">RRHH</a></li>
									<li><a href="#">RSE</a></li>
									<li><a href="#">Denuncias Clandestinas</a></li>
								</ul>
							</li>
						</ul>
						<!--fin Menu-->
					</nav>
				</div>
			</div>
			<div id="footer-left-area">
				<div id="copyrights">
					<p>Los servicios que presta Cablevisión S. A. están sujetos a disponibilidad técnica y geográfica dentro del territorio de la República Argentina © 1997 / 2015 Cablevisión S.A. Todos los derechos reservados - Hornos 690 - Ciudad de Bs. As. CUIT 30-57365208-4</p>
				</div>
				<div id="legal-navigation" class="withSeparator">
					<nav>
						<!--INI Menu-->
						<ul>
							<li><a title="Protección de Datos Personales">Protección de datos personales</a></li>
							<li><a title="Términos y Condiciones">Términos y condiciones</a></li>
							<li><a title="Defensa del Consumidor">Dirección General de Defensa y Protección al Consumidor, para consultas y/o denuncias, ingrese aquí</a></li>
					
						</ul>
						<!--fin Menu-->
					</nav>
				</div>		
			</div>
			<div id="contact-info">
				<div>
					<div class="fContact">
						<i class="fa fa-facebook-official fa-2"></i>
					</div>
					<p><a href="#">/cablevisionfibertel</a></p>
				</div>
				<div>
					<div class="tContact">
						<i class="fa fa-twitter-square fa-2"></i>
					</div>
					<p><a href="#">@cablevision</a></p>
					<p><a href="#">@fibertel</a></p>
				</div>
				<div class="pContact regular">
					Atención al Cliente
					<span class="phone semibold customerphone">0810.122.2225</span>
					Ventas
					<span class="phone semibold salephone">0810.122.3210</span>
				</div>
			</div>
		</div>		
	</div>
</div>