<style type="text/css">
	.navBlack{
		background: rgba(0, 0, 0, 0.3) none repeat scroll 0% 0%;
	}
	.cv-logo {
		float: left;
		height: 50px;
		padding: 15px 20px;
		font-size: 1.5em;
		line-height: 20px;
		text-decoration: none;
		margin-left: -15px;
		text-shadow: 0 1px 0 rgba(255,255,255,.25);
	}
	.color1 a:active, .color1 a:hover, .color1 a:focus{
    	text-decoration: none;
        color: #fff !important;
    	/*text-shadow: 0px 1px 0px #00b2ee !important;*/
	}
	.nav > li > a:hover, .nav > li > a:focus {
	    text-decoration: none;
	    background-color: rgba(0, 0, 0, 0);
	    margin: 10px;
	    border-width:2px;	
    	border-style:solid;
    	position: relative;
	    display: block;
	    padding: 4px 3px;
	}
	#header-xs a:hover{
		color: #72DBFF !important;
    	text-shadow: 1px 1px 3px #000 !important;
    	text-decoration: none;
	}
	/*  AYUDA */	
	#alertas{
		font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
		height:100%;
		z-index:101;
	}
	#alertas .fondoAlertas{
		position:fixed;
		right:0;
		width:430px;
		padding:100px 0;
		margin:0 -430px 0 0;
		height:100%;		
		background: rgba(0,0,0,0.6) none repeat scroll 0% 0%;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		-moz-box-shadow:-1px 0 4px #01b1ee;
		-webkit-box-shadow:-1px 0 4px #01b1ee;
		box-shadow:-1px 0 4px #01b1ee;
		z-index:101;
	}
	#alertas .cajaAlertas{
		background-color:#000;
		margin:0 10px;
		padding:20px;
		text-align:left;
		color:#ffffff;
		z-index:101;
	}
	#alertas .cajaAlertas p:last-child,
	#alertas .cajaAlertas p:first-child{
		margin:0;
	}
	#alertas .cajaAlertas strong{
		text-transform:uppercase;
		color:#ffffff;
		font-size: 1.3em;
	}
	#alertas .cajaAlertas .fa{
		color:#a90101;
	}
	#alertas .botonAlertas{
		position:fixed;
		right:0;
		top:53px;
		width:50px;
		height:49px;
		background: rgba(32,124,229,0.6) url(./assets/img/hover-boton-alertas-oscuro.png) no-repeat;
		color:#fff;
		text-align:center;
		padding:8px 6px 0 0;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		cursor:pointer;
		-moz-border-radius:4px 0 0 4px;
		-webkit-border-radius:4px 0 0 4px;
		border-radius:4px 0 0 4px;
		-moz-box-shadow:-1px 0 5px #666;
		-webkit-box-shadow:-1px 0 5px #666;
		box-shadow:-1px 0 5px #666;
		z-index:101;
	}
	#alertas .botonAlertas span{
		text-shadow:0 0 5px #191919;
		font-size:1.1em;
	}
	#alertas .botonAlertas:hover{
		background:#01b1ee url(./assets/img/hover-boton-alertas.png) no-repeat;
	}
	#fixVisualizacionAlertas {
	    visibility: hidden;
	}
	.cajaAlertas li{
	    list-style: none;
	    padding: 6px 0px;
	    cursor:pointer;
	}
	.cajaAlertas li a{
		color:#ffffff;
		text-decoration: none;
	}
	.panel {	   
	    background-color: #000;
	}
	.header-ayuda-img{
		width: 50px;
		height: 40px;
		margin: 10px 0px 0px 20px;
	}
	#ayuda-img{
		background-image: url(assets/img/ayuda1.png);
		background-repeat: no-repeat;
		background-size: cover;
		width: 30px;
		height: 30px;
		position: absolute;
	}
	#ayuda-img:hover{
		background-image: url(assets/img/ayuda1b.png);
	}
	.margin-top-8{
		margin-top:8px;
	}
	.logo-cyan{
		color: #23C5FD; 
		text-shadow: 0px 0px 3px #000 !important;
	}
</style>
<nav class="navbar navbar-fixed-top">
	<div class="container color1">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">			
			<a class="cv-logo" href="/innovadev" style="margin-left-10px;">Cablevisión <span class="logo-cyan">online</span></a>
			<a target="_self" href="http://200.42.4.20:8080/apps/index.html" class="btn-inline btn-online margin-top-8 pull-right visible-xs">Iniciar sesión</a>
		</div>
		<div class="pull-right">
			<a target="_self" href="http://200.42.4.20:8080/apps/index.html" class="btn-inline btn-online margin-top-8 hidden-xs">Iniciar sesión</a>
		</div>
	<!-- HTML -->
</nav>