<style type="text/css">
	.cv-logo {
		float: left;
		height: 50px;
		padding: 15px 20px;
		font-size: 1.5em;
		line-height: 20px;
		text-decoration: none;
		margin-left: -15px;
		text-shadow: 0 1px 0 rgba(255,255,255,.25);
	}
	.color1 a:active, .color1 a:hover, .color1 a:focus{
    	text-decoration: none;
        color: #fff !important;
    	/*text-shadow: 0px 1px 0px #00b2ee !important;*/
	}
	.nav > li > a:hover, .nav > li > a:focus {
	    text-decoration: none;
	    background-color: rgba(0, 0, 0, 0);
	    margin: 10px;
	    border-width:2px;	
    	border-style:solid;
    	position: relative;
	    display: block;
	    padding: 4px 3px;
	}
	.logo-cyan{
		color: #23C5FD; 
		text-shadow: 0px 0px 3px #000 !important;
	}
</style>
<nav class="navbar navbar-fixed-top">
	<div class="container color1">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header" id="header-xs">			
			<a class="cv-logo" href="/innovadev">Cablevisión <span class="logo-cyan">online</span></a>
		</div>
	</div><!-- /.container-fluid -->
</nav>