<style type="text/css">
	.navBlack{
		background: rgba(0, 0, 0, 0.3) none repeat scroll 0% 0%;
	}
	.color1 a:active, .color1 a:hover{
    	text-decoration: none;
        color: #fff !important;
    	/*text-shadow: 0px 1px 0px #00b2ee !important;*/
	}
	.nav > li > a:hover, .nav > li > a:focus {
	    text-decoration: none;
	    background-color: rgba(0, 0, 0, 0);
	    margin: 10px;
	    border-width:2px;	
    	border-style:solid;
    	position: relative;
	    display: block;
	    padding: 4px 3px;
	}
	#header-xs a:hover{
		color: #72DBFF !important;
    	text-shadow: 1px 1px 3px #000 !important;
	}
	/*  AYUDA */	
	#alertas{
		font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
		height:100%;
		z-index:101;
	}
	#alertas .fondoAlertas{
		position:fixed;
		right:0;
		width:430px;
		padding:100px 0;
		margin:0 -430px 0 0;
		height:100%;		
		background: rgba(0,0,0,0.6) none repeat scroll 0% 0%;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		-moz-box-shadow:-1px 0 4px #01b1ee;
		-webkit-box-shadow:-1px 0 4px #01b1ee;
		box-shadow:-1px 0 4px #01b1ee;
		z-index:101;
	}
	#alertas .cajaAlertas{
		background-color:#000;
		margin:0 10px;
		padding:20px;
		text-align:left;
		color:#ffffff;
		z-index:101;
	}
	#alertas .cajaAlertas p:last-child,
	#alertas .cajaAlertas p:first-child{
		margin:0;
	}
	#alertas .cajaAlertas strong{
		text-transform:uppercase;
		color:#ffffff;
		font-size: 1.3em;
	}
	#alertas .cajaAlertas .fa{
		color:#a90101;
	}
	#alertas .botonAlertas{
		position:fixed;
		right:0;
		top:53px;
		width:50px;
		height:49px;
		background: rgba(32,124,229,0.6) url(./assets/img/hover-boton-alertas-oscuro.png) no-repeat;
		color:#fff;
		text-align:center;
		padding:8px 6px 0 0;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		cursor:pointer;
		-moz-border-radius:4px 0 0 4px;
		-webkit-border-radius:4px 0 0 4px;
		border-radius:4px 0 0 4px;
		-moz-box-shadow:-1px 0 5px #666;
		-webkit-box-shadow:-1px 0 5px #666;
		box-shadow:-1px 0 5px #666;
		z-index:101;
	}
	#alertas .botonAlertas span{
		text-shadow:0 0 5px #191919;
		font-size:1.1em;
	}
	#alertas .botonAlertas:hover{
		background:#01b1ee url(./assets/img/hover-boton-alertas.png) no-repeat;
	}

	#fixVisualizacionAlertas {
	    visibility: hidden;
	}
	.cajaAlertas li{
	    list-style: none;
	    padding: 6px 0px;
	    cursor:pointer;
	}
	.cajaAlertas li a{
			color:#ffffff;
	}

	.panel {	   
	    background-color: #000;
	}
	.header-ayuda-img{
		width: 50px;
		height: 40px;
		margin: 10px 0px 0px 20px;
	}
	#ayuda-img{
		background-image: url(assets/img/ayuda1.png);
		background-repeat: no-repeat;
		background-size: cover;
		width: 30px;
		height: 30px;
		position: absolute;
	}
	#ayuda-img:hover{
		background-image: url(assets/img/ayuda1b.png);
	}
	.margin-top-8{
		margin-top:8px;
	}
</style>
<nav class="navbar navbar-fixed-top">
	<div class="container color1">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header" id="header-xs">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1" aria-expanded="false">
				<span class="sr-only">Menú</span>
				<span class="icon-bar navbar-default"></span>
				<span class="icon-bar navbar-default"></span>
				<span class="icon-bar navbar-default"></span>
			</button>
			<a class="navbar-brand" href="/innovadev">Cablevisión <span style="color: #23C5FD; text-shadow: 0px 0px 3px #000 !important;">online</span></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="collapse-1">
			<ul class="nav navbar-nav navbar-right color1">
				<li><a href="#Dispositivos">¿Qué es?</a></li>
				<li><a href="#Contenidos">Contenidos</a></li>
				<li><a href="#Caracteristicas">Características</a></li>
				<li><a href="#Planes">Planes</a></li>
				<li><div class="header-ayuda-img"><a id="ayuda-img" href="#alertas"></a></div></li>
				<li><bottom href="loginBeta/login.html" class="btn-inline btn-online margin-top-8">Iniciar sesión</bottom></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
	<!-- HTML -->
</nav>
<!-- AYUDA INICIO -->
<div id="alertas">
	<div class="botonAlertas">
	    <span><i class="fa fa-question fa-2x"></i></span>
	</div>
	<div class="fondoAlertas">
	    <div class="cajaAlertas">
	        <h2>Ayuda</h2>
	        <p style="margin-top:20px;"><strong>¿Tenes más Preguntas? Llamanos al</strong></p>
	        <p><strong>0800-122-3210</strong></p>
	    </div>
	    <div class="cajaAlertas">
			<div class="panel-group" id="accordion1">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a ng-click="home.deploy('#collapsedOne')">
								¿Que puede utilizar para recibir transmisiones de Cablevisión Online?
							</a>
						</h4>
					</div>
					<div id="collapsedOne" class="panel-collapse collapse">
						<div class="container-fluid">
							<div class="panel-body">
								<ul>
									<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									</li>
									<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									</li>
									<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-group" id="accordion2">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a ng-click="home.deploy('#collapsedTwo')">
								¿Que puede utilizar para recibir transmisiones de Cablevisión Online?
							</a>
						</h4>
					</div>
					<div id="collapsedTwo" class="panel-collapse collapse">
						<div class="container-fluid">
							<div class="panel-body">
								<ul>
									<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									</li>
									<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									</li>
									<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-group" id="accordion3">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a ng-click="home.deploy('#collapsedThree')">
								¿Que puede utilizar para recibir transmisiones de Cablevisión Online?
							</a>
						</h4>
					</div>
					<div id="collapsedThree" class="panel-collapse collapse">
						<div class="container-fluid">
							<div class="panel-body">
								<fieldset>
									<input type="checkbox" id="ad01" name="ad01">
									<label for="ad01">HBO Max</label>
									<label class="lbPrecios">$20</label>
								</fieldset>
								<fieldset>
									<input type="checkbox" id="ad02" name="ad02">
									<label for="ad02">FOX+</label>
									<label class="lbPrecios">$20</label>
								</fieldset>
									</li>
									<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									</li>
									<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								<fieldset>
									<input type="checkbox" id="ad03" name="ad03">
									<label for="ad03">PREMIUM PACK</label>
									<label class="lbPrecios">$20</label>
								</fieldset>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-group" id="accordion4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a ng-click="home.deploy('#collapsedFour')">
								¿Que puede utilizar para recibir transmisiones de Cablevisión Online?
							</a>
						</h4>
					</div>
					<div id="collapsedFour" class="panel-collapse collapse">
						<div class="container-fluid">
							<div class="panel-body">
								<fieldset>
									<input type="checkbox" id="ad01" name="ad01">
									<label for="ad01">HBO Max</label>
									<label class="lbPrecios">$20</label>
								</fieldset>
								<fieldset>
									<input type="checkbox" id="ad02" name="ad02">
									<label for="ad02">FOX+</label>
									<label class="lbPrecios">$20</label>
								</fieldset>
									</li>
									<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									</li>
									<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								<fieldset>
									<input type="checkbox" id="ad03" name="ad03">
									<label for="ad03">PREMIUM PACK</label>
									<label class="lbPrecios">$20</label>
								</fieldset>
							</div>
						</div>
					</div>
				</div>
			</div>      
	    </div>
	</div>
</div>
<div id="fixVisualizacionAlertas">Fix Alertas</div>
<!-- AYUDA FIN -->

<script>
	$(document).ready(function() {
	
		/* Alertas */
	    var slider_width = $('.fondoAlertas').width();
	    $('.botonAlertas, .ayuda').click(function() {
	        if ($(this).css("margin-right") == slider_width + "px" && !$(this).is(':animated'))
	        {
	            $('.fondoAlertas,.botonAlertas').animate({"margin-right": '-=' + slider_width}, 'slow', 'easeOutBounce');
	        }
	        else
	        {
	            if (!$(this).is(':animated'))
	            {
	                $('.fondoAlertas,.botonAlertas').animate({"margin-right": '+=' + slider_width}, 'slow', 'easeInQuart');
	            }
	        }
	    });
	    $('#navbar').scrollspy()
	});
</script>