<style type="text/css">
	#Contenidos {
		background-color: #121212;
	}
	.textSeccCont{
		margin-top:120px;
		margin-left:20px;
	}
	.fondoGrande {
		overflow: hidden;
	}
	.about{
		height: 800px;
	}
	.foto60canales img{
		max-width: 100%;
		height: auto;
	}
	.margin-top-40{
		margin-top: 40px;
	}
	.margin-top-50{
		margin-top: 50px !important;
	}
	.padding-top-10{
		padding-top:10px;
	}
	.botonContenido{
    	text-decoration: none;
        color: #fff !important;
    	margin: 10px;
	    border-width:2px;
	    border-color: #fff;	
    	border-style:solid;
    	position: relative;
	    padding: 6px 12px;
	}
	.botonContenido:hover{
    	text-decoration: none;
        color: #72DBFF !important;
    	margin: 10px;
	    border-width:2px;
	    border-color: #72DBFF;
    	border-style:solid;
    	position: relative;
	    padding: 6px 12px;
	}
	@media only screen and (max-width : 768px) {
		.about{
			height: auto !important;
		}
	}

	@media only screen and (max-width : 481px) {
		.about{
			height: auto !important;
		}
	}
</style>

<section id="Contenidos" data-type="background" data-speed="10">
	<div class="container about">
	  	<div class="row textSeccCont">
			<div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">
				<div class="text-left banner-align-middle">
					<div class="banner-card text-contrast margin-top-40">
						<h2>La tele como <br>nunca la viste</h2>
						<h4>Tus programas preferidos en vivo, series, películas <br>y estrenos en un solo lugar, para verlo cuando quieras.<br>Mirá, pausá, rebobiná, grabá y volve a mirar</h4>
						<h5 style="padding-top:20px;">Sin cargo para clientes <br>de Cablevisión</h5>
					</div>
					<div class="movimiento1" style="padding-left:20px;">
						<div class="hidden-xs">
							<a ng-click="global.isAuthenticated()" href="" class="btn-inline btn-online">Probalo ahora</a>
						</div>
						<div class="visible-xs">
							<a ng-click="global.isAuthenticated()" href="" class="btn-online btn-block">Probalo ahora</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-6 col-lg-7">
				<div class="text-left banner-align-middle">
					<div id="contenido" class="banner-card text-contrast">
						<div class="row">
							<div class="col-sm-12">								
								<div class="foto60canales">
									<img src="assets/img/contenidos/60canales1.png">
								</div>
								<div class="padding-top-10">
									<div class="hidden-xs">
										<a data-toggle="modal" data-target="#Modal-grilla" class="btn botonContenido btn-md">Conocé la grilla</a>
									</div>
									<div class="visible-xs">
										<a data-toggle="modal" data-target="#Modal-grilla" class="btn botonContenido btn-xs">Conocé la grilla</a>
									</div>
								</div>								
							</div>
							<div class="col-sm-12">
								<div class="foto60canales margin-top-50">
									<img src="assets/img/contenidos/4500contenidos1.png">
								</div>
								<div class="padding-top-10">
									<div class="hidden-xs">
										<a data-toggle="modal" data-target="#Modal-ultimosEstrenos" class="btn botonContenido btn-md">Conocé los últimos estrenos</a>
									</div>
									<div class="visible-xs">
										<a data-toggle="modal" data-target="#Modal-ultimosEstrenos" class="btn botonContenido btn-xs">Conocé los últimos estrenos</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>				
			</div>
		</div>
	</div>
	<div class="hidden-xs hiden-sm fondoGrande">
		<img src="assets/img/03-contenido-1500.png">
	</div>
</section>

