<style type="text/css">
	.textSecc2{
		margin-top: 85px;
		margin-left: 20px;
	}
	.about {
		height: 700px;		
	}
	.bs-glyphicons-list {
	    padding-left: 0;
	    list-style: none;
	}
	.bs-glyphicons .glyphicon-class {
	    display: block;
	    text-align: center;
	    word-wrap: break-word;
	}
	.bs-glyphicons li {
	    float: left;
	    width: 25%;
	    padding-bottom: 0px;
	    font-size: 12px;
	    text-align: center;
	}
	.bs-glyphicons li i{	    
	    height: 50px;
	}
	.section2{
		clear: both; 		
	}
	.section2 img{
		width: 500px;
		float: right;    	
	}
	@media only screen and (max-width : 768px) {
		.about{
			height: 100% !important;
		}
	}
</style>
<section id="Dispositivos" data-type="background" data-speed="10">
	<div class="hidden-xs hiden-sm section2">
		<img src="assets/img/01-Multidispositivo-1280.png">
	</div>
	<div class="container about">
	  	<div class="row textSecc2" id="content">
			<div class="col-xs-12 col-md-6 col-lg-5">
				<div class="row">
					<div class="col-xs-12">
						<div class="bs-glyphicons"> 
							<ul class="bs-glyphicons-list">
								<li>
									<span><i class="fa fa-mobile fa-4x"></i></span>
									<span class="glyphicon-class">Smartphone</span>
								</li>
								<li>
									<span><i class="fa fa-tablet fa-4x"></i></span>
									<span class="glyphicon-class">Tablet</span>
								</li>
								<li>
									<span><i class="fa fa-laptop fa-4x"></i></span>
									<span class="glyphicon-class">Computadora</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="text-left banner-align-middle">
							<div id="contenido" class="banner-card text-contrast">
								<h2>En todos tus dispositivos siempre que quieras</h2>
								<h5>Llevá el mejor entretenimiento en tu smartphone,<br>tablet o computadora. Todo lo que te gusta, miralo <br>cuando quieras y donde quieras.</h5>
								<h5 class="padding-top-30">Sin cargo para clientes <br>de Cablevisi&oacute;n</h5>
								<div class="movimiento1">
									<div class="hidden-xs">
										<a href="#/selecciona-tu-plan" class="btn-inline btn-online">Probalo ahora</a>
									</div>
									<div class="visible-xs">
										<a href="#/selecciona-tu-plan" class="btn-online btn-block">Probalo ahora</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>				
			</div>			
		</div>
	</div>
</section>