<style type="text/css">
	html {
        height:100%;
        width:100%;
    }
	h2{
		color: #01b1ee;
		text-shadow: 1px 1px 5px #000000;
		font-size: 38px;
	}
	h5{
		line-height:20px;
		font-size: 1.3em;
	}
	.textSecc1{
		margin-top:15%;
		margin-left:20px;
	}
	#video{
		position: fixed;
		top: 0;
		left: 0;
		z-index: -100;
		overflow: hidden;
	}	
	.header-scroll-img{
		margin-left:50%;
		margin-top:130px;
		
	}
	#scroll-img{
		background-image: url(assets/img/scroll-down-blanco.png);
		background-repeat: no-repeat;
		background-size: cover;
		width: 25px;
		height: 60px;
		position: absolute;
	}
	#scroll-img:hover{
		background-image: url(assets/img/scroll-down-cyan.png);
		background-repeat: no-repeat;
		background-size: cover;
		width: 25px;
		height: 60px;
		position: absolute;
	}
	.banner-card {
	    padding: 20px 0px 0px 20px;	   
	    opacity: 1;
	}
	.padding-top-10{
		padding-top:10px;
	}
	.padding-top-20{
		padding-top:20px;
	}
	.padding-top-30{
		padding-top:30px;
	}

	/* Botones azules */
	.btn-online {		
		color: #000;
    	background-color: #5bc0de;
	    background-image: -webkit-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
	    background-image: -o-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
	    background-image: -webkit-gradient(linear,left top,left bottom,from(#5bc0de),to(#2aabd2));
	    background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
	    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	    background-repeat: repeat-x;
	    border-color: #28a4c9;
	    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
    	box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);    	
	}
	.btn-online:hover {
	    color: #fff;
	    background-color: #31b0d5;
	    border-color: #269abc;
	    background-position: 0 -15px;
	    text-decoration: none;
	}
	.btn-grande{		
		text-align: center !important; 
		padding: 10px 20px;
	}
	.btn-inline {
	    display: inline-block;
	    padding: 6px 12px;
	    margin-bottom: 0;
	    font-size: 14px;
	    font-weight: normal;
	    line-height: 1.42857143;
	    text-align: center;
	    white-space: nowrap;
	    vertical-align: middle;
	    -ms-touch-action: manipulation;
	    touch-action: manipulation;
	    cursor: pointer;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    background-image: none;
	    border: 1px solid transparent;
	}
	.btn-block{
		display: block; 
		text-align: center !important; 
		padding: 5px;
	}

	/* FADE IN  */
	/* make keyframes that tell the start state and the end state of our object */
		@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
		@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
		@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

		.fade-in {
		  opacity:0;  /* make things invisible upon start */
		  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
		  -moz-animation:fadeIn ease-in 1;
		  animation:fadeIn ease-in 1;

		  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
		  -moz-animation-fill-mode:forwards;
		  animation-fill-mode:forwards;

		  -webkit-animation-duration:1s;
		  -moz-animation-duration:1s;
		  animation-duration:1s;
		}

		.fade-in.one {
		  -webkit-animation-delay: 1s;
		  -moz-animation-delay: 1s;
		  animation-delay: 1s;
		}
	
	.margin-padding-20{
		margin-top:20px; 
		padding-left:20px;
	}
	@media(max-width: 321px){
		#contenido h2{
		    font-size:2.2em !important;
		}
	}
	@media only screen and (max-width : 768px) {
		#home1 h2{
		    font-size:3em;
		}
		.textSecc1{
			margin-top:100px;
			margin-left:0px;
		}
		.banner-card {
		    padding: 20px 0px 0px 0px;
		}
		.margin-padding-20{
			margin-top:40px; 
			padding-left:0px;
			padding-right: 10px;
			margin-bottom: 40px;
		}
	}
</style>
<section id="home1">
	<div id="page">
		<ul class="cb-slideshow">
            <li><span>1</span></li>
            <li><span>2</span></li>
            <li><span>3</span></li>
            <li><span>4</span></li>
            <li><span>5</span></li>
            <li><span>6</span></li>
        </ul>
	</div>
	<div class="container">
	  	<div class="row textSecc1" id="content">
			<div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">
				<div class="text-left banner-align-middle fade-in one">
					<div id="contenido" class=" hidden-xs banner-card text-contrast">
						<h2>La tele que va <br>con vos cuando quieras <br>y donde quieras</h2>
						<h5 class="padding-top-30">Sin cargo para clientes <br>de Cablevisión</h5>
					</div>
					<div id="contenido" class="visible-xs banner-card text-contrast">
						<h2>La tele que va con vos cuando quieras y donde quieras</h2>
						<h5 class="padding-top-30">Sin cargo para clientes de Cablevisión</h5>
					</div>
					<div class=" margin-padding-20">
						<div class="hidden-xs">
							<a href="" ng-click="global.redToNinja()" class="btn-inline btn-online">Probalo ahora</a>
						</div>
						<div class="visible-xs">
							<a href="" ng-click="global.redToNinja()" class="btn-block btn-online">Probalo ahora</a>

						</div>
					</div>
				</div>				
			</div>			
		</div>		
		<!--div class="header-scroll-img hidden-xs"><a id="scroll-img" href="#Dispositivos"></a></div-->
	</div>	
</section>
<script>
    $(document).ready(function() {
      var t;
	  var start = $('#carousel-grilla').find('.active').attr('data-interval');
	 t = setTimeout("$('#carousel-grilla').carousel({interval: 5000});", start-1000);

	 $('#carousel-grilla').on('slid.bs.carousel', function () {  
	  clearTimeout(t);  
	  var duration = $(this).find('.active').attr('data-interval');

	  $('#carousel-grilla').carousel('pause');
	  t = setTimeout("$('#carousel-grilla').carousel();", duration-1000);
	  });

	 $('.carousel-control.right').on('click', function(){
	 clearTimeout(t);   
	 });

	 $('.carousel-control.left').on('click', function(){
	 clearTimeout(t);   
	 });

    });
</script>
