<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog modal-md">
		<div class="modal-content text-info">
			<div class="modal-header" style="background-color: #f0f0f0;">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title" id="exampleModalLabel">INNOVA  /  Ingresá tus Datos</h4>
			</div>
			<div class="modal-body">
				<form action="selecciona-tu-plan-premium" method="POST">
					<div class="form-group">
						<label>Mail:</label>
						<input ng-model="seleccion.usermail" type="text" name="mail" class="form-control" id="mail" placeholder="Mail">
					</div>
					<div class="form-group has-error has-feedback" style="display: none">
						<div class="form-control">
							<p type="text" class="text-danger" id="inputError2" ng-show="">{{  }}</p>
						</div>
						<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Registate</button>
						<a ng-click="seleccion.mailValidation()" type="button" id="btn-ingresar" class="btn btn-primary">Ingresar</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>