<style type="text/css">
	#carousel-ultimosEstrenos .caption h5{
		color: #ffffff !important;		
	}
	.modal-dialog {
		
	    margin-top: 10%;
	}
	.modal-content { 
	   background-color: rgba(000,000,000,0.6)!important;
	}
	.modal-header {	    
	    border-bottom: 1px solid #333;
	}
	#carousel-ultimosEstrenos .close {
	    float: right;
	    font-size: 21px;
	    font-weight: bold;
	    line-height: 1;
	    color: #fff;
	    text-shadow: 0 1px 0 #777;
	    opacity: 1;
	}
	#carousel-ultimosEstrenos .close:hover {
		font-size: 20px;
		line-height: 1;
	    color: #FF9600;
	    text-shadow: 0 1px 0 #777;
	    opacity: 1;
	}
	#carousel-ultimosEstrenos .carousel-control {	    
	    width: 3% !important;	    
	}
	#carousel-ultimosEstrenos .thumbnail img{
		width: 180px;
		height: auto;
		float: left;
	}
	#carousel-ultimosEstrenos .row{
	    display: flex;
	    flex-direction:row;
	    justify-content:center;
	}
	

</style>
<div id="Modal-ultimosEstrenos" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Modal-ultimosEstrenosLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title" id="Modal-ultimosEstrenosLabel">Conoc&eacute; los &uacute;ltimos estrenos</h4>
			</div>
			<div class="modal-body">
				<!--Carrusel -->
				<!--div id="carousel-ultimosEstrenos" class="media carousel slide carousel-fade" data-ride="carousel"-->
				<div id="carousel-ultimosEstrenos" class="media carousel slide" data-ride="carousel">	  	
			    	<!-- Wrapper for slides -->
			        <div class="carousel-inner slider-height-3"  role="listbox">
			        	<div class="item active">
			     			<div class="row">
								<div class="col-sm-6 col-md-2">
									<div class="thumbnail">
									  <img src="./assets/img/estrenos/nocheenelmuseo.jpg" alt="">
									  <div class="caption">
									    <h5>Noche en el museo:</h5>
									    <h5>El secreto del fara&oacute;n</h5>
									  </div>
									</div>
								</div>
								<div class="col-sm-6 col-md-2">
								    <div class="thumbnail">
									      <img src="./assets/img/estrenos/divergente.jpg" alt="">
									      <div class="caption">
									        <h5>Divergente</h5>
									       <h5>3D</h5>
									      </div>
								    </div>
								</div>
								<div class="col-sm-6 col-md-2">
								    <div class="thumbnail">
									      <img src="./assets/img/estrenos/planetadelossimios.jpg" alt="">
									      <div class="caption">
									        <h5>El Planeta de los Simios</h5>
									        <h5>Confrontaci&oacute;n</h5>
									      </div>
								    </div>
								</div>
								<div class="col-sm-6 col-md-2">
								    <div class="thumbnail">
									      <img src="./assets/img/estrenos/busquedaimplacable.jpg" alt="">
									      <div class="caption">
									        <h5>B&uacute;squeda implacable 3</h5>
									       <h5>3D</h5>
									      </div>
								    </div>
								</div>															
							</div>
			    		</div>
			        	<div class="item">

	          				<div class="row">
								<div class="col-sm-6 col-md-2">
								    <div class="thumbnail">
									      <img src="./assets/img/estrenos/divergente.jpg" alt="">
									      <div class="caption">
									        <h5>Divergente</h5>
									       <h5>3D</h5>
									      </div>
								    </div>
								</div>
								<div class="col-sm-6 col-md-2">
									<div class="thumbnail">
									  <img src="./assets/img/estrenos/nocheenelmuseo.jpg" alt="">
									  <div class="caption">
									    <h5>Noche en el museo:</h5>
									    <h5>El secreto del fara&oacute;n</h5>
									  </div>
									</div>
								</div>
								<div class="col-sm-6 col-md-2">
								    <div class="thumbnail">
									      <img src="./assets/img/estrenos/busquedaimplacable.jpg" alt="">
									      <div class="caption">
									        <h5>B&uacute;squeda implacable 3</h5>
									       <h5>3D</h5>
									      </div>
								    </div>
								</div>
								<div class="col-sm-6 col-md-2">
								    <div class="thumbnail">
									      <img src="./assets/img/estrenos/planetadelossimios.jpg" alt="">
									      <div class="caption">
									        <h5>El Planeta de los Simios</h5>
									        <h5>Confrontaci&oacute;n</h5>
									      </div>
								    </div>
								</div>
							</div>							

			          	</div>
					</div>
					
				</div>
				<!-- Controls -->
				  	<a class="left carousel-control" data-target="#carousel-ultimosEstrenos" role="button" data-slide="prev">
				    	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				    	<span class="sr-only">Previous</span>
				  	</a>
				  	<a class="right carousel-control" data-target="#carousel-ultimosEstrenos" role="button" data-slide="next">
				    	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				    	<span class="sr-only">Next</span>
				  	</a>
			</div>
		</div>
	</div>
</div>
<script>
    $(document).ready(function() {
      var t;
	  var start = $('#carousel-ultimosEstrenos').find('.active').attr('data-interval');
	 t = setTimeout("$('#carousel-ultimosEstrenos').carousel({interval: 25000});", start-1000);

	 $('#carousel-ultimosEstrenos').on('slid.bs.carousel', function () {  
	  clearTimeout(t);	  
	  var duration = $(this).find('.active').attr('data-interval');

	  $('#carousel-ultimosEstrenos').carousel('pause');
	  t = setTimeout("$('#carousel-ultimosEstrenos').carousel();", duration-1000);
	  });

	 $('.carousel-control.right').on('click', function(){
	 clearTimeout(t);
	 });

	 $('.carousel-control.left').on('click', function(){
	 clearTimeout(t);
	 });

    });
</script>