<style type="text/css">
	.modal-footer {
	    padding: 0px;
	    text-align: right;
	    border-top: 0px;
	}
	.text-resumen {
	    color: #424242;
	}
	@media only screen and (max-width : 767px) {
		.modal-dialog {
			margin: 30px auto;
		}	
	}
	@media only screen and (max-width : 321px) {
		.btn {
		    padding: 6px 6px;
		}
	}
</style>
<div class="modal fade" id="ModalResumen" tabindex="-1" role="dialog" aria-labelledby="resumenModalLabel">
	<div class="modal-dialog" style="max-width: 400px;" role="document">
		<div class="modal-content text-resumen">
			<div class="modal-header" style="background-color: #424242; color:#fff">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title" id="resumenModalLabel">Estás activando</h4>
			</div>
			<div class="modal-body">				
				<form action="selecciona-tu-plan-premium" method="POST">
					<div class="row">
						<div class="col-xs-6 col-sm-4">
							<div><label>Plan Full</label></div>
							<div style="padding:5px 0px;"><label>Pack HBO</label></div>
							<div><label>Pack FOX+</label></div>
						</div>
						<div class="col-xs-2 col-sm-4">
							<div><i class="fa fa-check fa-1"></i></div>
							<div style="padding:7px 0px;"><i class="fa fa-check fa-1"></i></div>
							<div style="padding:3px 0px;"><i class="fa fa-check fa-1"></i></div>
						</div>
						<div class="col-xs-4 col-sm-4">
							<div><p class="pull-right">Bonificado</p></div>
							<div><p class="pull-right" style="padding:7px 0px;">Bonificado</p></div>
							<div><p class="pull-right" style="padding:3px 0px;">Bonificado</p></div>
						</div>												
					</div>
					<hr>
					<div class="row" style="padding: 0px 0px 30px 0px;">
						<div class="col-xs-6"><label>Total</label></div>
						<div class="col-xs-6"><label class="text-colorCy pull-right">$0,00</label></div>
						<div><label><br><br></label></div>
					</div>					
					<div class="modal-footer">
						<button type="button" class="btn botonContenido pull-left" data-dismiss="modal">volver</button>
						<a type="button" ng-click="premium.comprar()" id="btn-activar" class="btn-inline btn-online">Activar Cablevisión Online</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>