<style type="text/css">	
	.modal-dialog {
		width: 100% !important;
	    margin: 0px;
	}
	.modal-content { 
	   background-color: rgba(000,000,000,0.6)!important;
	   line-height: 45vh;
	}
	.modal-header {	    
	    border-bottom: 0px solid #000;
	}
	.modal-body {		
	    position: relative;
	    margin: 0px 60px;
	    padding: 15px;
	}
	.close {
	    float: right;
	    font-size: 21px;
	    font-weight: bold;
	    line-height: 1;
	    color: #fff;
	    text-shadow: 0 1px 0 #777;
	    opacity: 1;
	}
	.close:hover {
		font-size: 20px;
		line-height: 1;
	    color: #FF9600;
	    text-shadow: 0 1px 0 #777;
	    opacity: 1;
	}
	#Modal-login .textSeccCont{
		margin-top: 20%;
		padding-left: 20%;
	}
	.cyanLogo{
		color: #23C5FD; 
		text-shadow: 0px 0px 3px #000 !important;
	}
	@media only screen and (max-width : 768px) {
		#Modal-login .textSeccCont{
			margin-top: 0% !important;
			padding-left: 0% !important;
		}
		#Modal-login h4{
			font-size: 1.5em;
		}
		.modal-body {
		    margin: 0px 10px;
		    padding: 5px;
		}
	}
</style>
<div class="modal fade" id="Modal-login" tabindex="-1" role="dialog" aria-labelledby="Modal-loginLabel">
	<div class="modal-dialog">
		<div class="modal-content">		
			<div class="modal-header">
				<button id="cerrarModalValidacion" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title" id="Modal-loginLabel">Cablevisión <span class="cyanLogo">online</span></h4>
			</div>
			<div class="modal-body">
				<div class="row">					
						<div class="col-xs-12 col-md-4">
							<div class="banner-align-middle textSeccCont">
								<div id="contenido" class="banner-card text-contrast">
									<h2>¿Sos cliente<br> de Cablevisión?</h2>
									<h5>Cablevisión Online es un producto <br> exclusivo para clientes de Cablevisión.<br> Si ya sos usuario de Cablevisión Fibertel,<br> ingresá tu mail y contraseña.</h5>
								</div>
							</div>
						</div>
						<div class="ol-xs-12 col-md-8">
							<iframe style="width: 100%; height: 420px;" src=""></iframe>
						</div>
					
				</div>
				
			</div>
		</div>
	</div>
</div>