<style type="text/css">
	.thumbnail {
	    display: block;
	    padding: 4px;
	    margin-bottom: 20px;
	    line-height: 1.42857143;
	    background-color: rgba(0,0,0,0.1);
	    border: 0px solid #000;
	    border-radius: 1px;
	}

	#thumbnailsFotoGrilla{
		width: 107px;
		height: 75px;
		overflow: hidden;
	}
	.img-rounded {
	    border-radius: 0px;
	}
	.modal-dialog {
		width: 90% !important;
	    margin-top: 10%;
	}

	.modal-content { 
	   background-color: rgba(000,000,000,0.6);!important;
	}

	.modal-header {	    
	    border-bottom: 0px solid #000;
	}

	.close {
	    float: right;
	    font-size: 21px;
	    font-weight: bold;
	    line-height: 1;
	    color: #fff;
	    text-shadow: 0 1px 0 #777;
	    opacity: 1;
	}
	.close:hover {
		font-size: 20px;
		line-height: 1;
	    color: #FF9600;
	    text-shadow: 0 1px 0 #777;
	    opacity: 1;
	}
	.carousel-control {
	    width: 1% !important;
	}

</style>
<div class="modal fade" id="Modal-grilla" tabindex="-1" role="dialog" aria-labelledby="Modal-grillaLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title" id="Modal-grillaLabel">Conoc&eacute; la grilla de canales</h4>
			</div>
			<div class="modal-body">
				<!--Carrusel -->
				<div id="carousel-grilla" class="media carousel slide carousel-fade" data-ride="carousel">				  	
			    	<!-- Wrapper for slides -->
			        <div class="carousel-inner slider-height-3"  role="listbox">
			        	<div class="item active">
			     			<div class="row ">
								<div class="col-md-offset-1 col-md-2 col-xs-6 thumb">
					                <span class="thumbnail" href="#">
					                    <img class="img-rounded" id="thumbnailsFotoGrilla" src="./assets/img/grilla/eltrece.jpg" alt="">
					                </span>
					            </div>
					            <div class="col-md-2 col-xs-6 thumb">
					                <span class="thumbnail" href="#">
					                    <img class="img-rounded" id="thumbnailsFotoGrilla" src="./assets/img/grilla/discovery.jpg" alt="">
					                </span>
					            </div>
					            <div class="col-md-2 col-xs-6 thumb">
					                <span class="thumbnail" href="#">
					                    <img class="img-rounded" id="thumbnailsFotoGrilla" src="./assets/img/grilla/fox.jpg" alt="">
					                </span>
					            </div>
					            <div class="col-md-2 col-xs-6 thumb">
					                <span class="thumbnail" href="#">
					                    <img class="img-rounded" id="thumbnailsFotoGrilla" src="./assets/img/grilla/america2.jpg" alt="">
					                </span>
					            </div>
					            <div class="col-md-2 col-xs-6 thumb">
					                <span class="thumbnail" href="#">
					                    <img class="img-rounded" id="thumbnailsFotoGrilla" src="./assets/img/grilla/hbo.jpg" alt="">
					                </span>
					            </div>
					            <div class="col-md-offset-1 col-md-2 col-xs-6 thumb">
					                <span class="thumbnail" href="#">
					                    <img class="img-rounded" id="thumbnailsFotoGrilla" src="./assets/img/grilla/history.jpg" alt="">
					                </span>
					            </div>
					            <div class="col-md-2 col-xs-6 thumb">
					                <span class="thumbnail" href="#">
					                    <img class="img-rounded" id="thumbnailsFotoGrilla" src="./assets/img/grilla/isat.jpg" alt="">
					                </span>
					            </div>
					            <div class="col-md-2 col-xs-6 thumb">
					                <span class="thumbnail" href="#">
					                    <img class="img-rounded" id="thumbnailsFotoGrilla" src="./assets/img/grilla/magazine.jpg" alt="">
					                </span>
					            </div>
					            <div class="col-md-2 col-xs-6 thumb">
					                <span class="thumbnail" href="#">
					                    <img class="img-rounded" id="thumbnailsFotoGrilla" src="./assets/img/grilla/space.jpg" alt="">
					                </span>
					            </div>
					            <div class="col-md-2 col-xs-6 thumb">
					                <span class="thumbnail" href="#">
					                    <img class="img-rounded" id="thumbnailsFotoGrilla" src="./assets/img/grilla/telefe.jpg" alt="">
					                </span>
					            </div>
					            <div class="col-md-offset-1 col-md-2 col-xs-6 thumb">
					                <span class="thumbnail" href="#">
					                    <img class="img-rounded" id="thumbnailsFotoGrilla" src="./assets/img/grilla/tnt.jpg" alt="">
					                </span>
					            </div>
					            <div class="col-md-2 col-xs-6 thumb">
					                <span class="thumbnail" href="#">
					                    <img class="img-rounded" id="thumbnailsFotoGrilla" src="./assets/img/grilla/tvpublica.jpg" alt="">
					                </span>
					            </div>
					            <div class="col-md-2 col-xs-6 thumb">
					                <span class="thumbnail" href="#">
					                    <img class="img-rounded" id="thumbnailsFotoGrilla" src="./assets/img/grilla/warner.jpg" alt="">
					                </span>
					            </div>
					            <div class="col-md-2 col-xs-6 thumb">
					                <span class="thumbnail" href="#">
					                    <img class="img-rounded" id="thumbnailsFotoGrilla" src="./assets/img/grilla/volver.jpg" alt="">
					                </span>
					            </div>
					            <div class="col-md-2 col-xs-6 thumb">
					                <span class="thumbnail" href="#">
					                    <img class="img-rounded" id="thumbnailsFotoGrilla" src="./assets/img/grilla/discovery.jpg" alt="">
					                </span>
					            </div>
					        </div>
			    		</div>
			        	<div class="item">			          		
		          			<div class="row ">								
					            <div class="col-md-offset-1 col-md-2 col-xs-6 thumb">
					                <span class="thumbnail" href="#">
					                    <img class="img-rounded" id="thumbnailsFotoGrilla" src="./assets/img/grilla/history.jpg" alt="">
					                </span>
					            </div>
					            <div class="col-md-2 col-xs-6 thumb">
					                <span class="thumbnail" href="#">
					                    <img class="img-rounded" id="thumbnailsFotoGrilla" src="./assets/img/grilla/isat.jpg" alt="">
					                </span>
					            </div>
					            <div class="col-md-2 col-xs-6 thumb">
					                <span class="thumbnail" href="#">
					                    <img class="img-rounded" id="thumbnailsFotoGrilla" src="./assets/img/grilla/magazine.jpg" alt="">
					                </span>
					            </div>
					            <div class="col-md-2 col-xs-6 thumb">
					                <span class="thumbnail" href="#">
					                    <img class="img-rounded" id="thumbnailsFotoGrilla" src="./assets/img/grilla/space.jpg" alt="">
					                </span>
					            </div>
					            <div class="col-md-2 col-xs-6 thumb">
					                <span class="thumbnail" href="#">
					                    <img class="img-rounded" id="thumbnailsFotoGrilla" src="./assets/img/grilla/telefe.jpg" alt="">
					                </span>
					            </div>
					            <div class="col-md-offset-1 col-md-2 col-xs-6 thumb">
					                <span class="thumbnail" href="#">
					                    <img class="img-rounded" id="thumbnailsFotoGrilla" src="./assets/img/grilla/eltrece.jpg" alt="">
					                </span>
					            </div>
					            <div class="col-md-2 col-xs-6 thumb">
					                <span class="thumbnail" href="#">
					                    <img class="img-rounded" id="thumbnailsFotoGrilla" src="./assets/img/grilla/discovery.jpg" alt="">
					                </span>
					            </div>
					            <div class="col-md-2 col-xs-6 thumb">
					                <span class="thumbnail" href="#">
					                    <img class="img-rounded" id="thumbnailsFotoGrilla" src="./assets/img/grilla/fox.jpg" alt="">
					                </span>
					            </div>
					            <div class="col-md-2 col-xs-6 thumb">
					                <span class="thumbnail" href="#">
					                    <img class="img-rounded" id="thumbnailsFotoGrilla" src="./assets/img/grilla/america2.jpg" alt="">
					                </span>
					            </div>
					            <div class="col-md-2 col-xs-6 thumb">
					                <span class="thumbnail" href="#">
					                    <img class="img-rounded" id="thumbnailsFotoGrilla" src="./assets/img/grilla/hbo.jpg" alt="">
					                </span>
					            </div>
					            <div class="col-md-offset-1 col-md-2 col-xs-6 thumb">
					                <span class="thumbnail" href="#">
					                    <img class="img-rounded" id="thumbnailsFotoGrilla" src="./assets/img/grilla/tnt.jpg" alt="">
					                </span>
					            </div>
					            <div class="col-md-2 col-xs-6 thumb">
					                <span class="thumbnail" href="#">
					                    <img class="img-rounded" id="thumbnailsFotoGrilla" src="./assets/img/grilla/tvpublica.jpg" alt="">
					                </span>
					            </div>
					            <div class="col-md-2 col-xs-6 thumb">
					                <span class="thumbnail" href="#">
					                    <img class="img-rounded" id="thumbnailsFotoGrilla" src="./assets/img/grilla/warner.jpg" alt="">
					                </span>
					            </div>
					            <div class="col-md-2 col-xs-6 thumb">
					                <span class="thumbnail" href="#">
					                    <img class="img-rounded" id="thumbnailsFotoGrilla" src="./assets/img/grilla/volver.jpg" alt="">
					                </span>
					            </div>
					            <div class="col-md-2 col-xs-6 thumb">
					                <span class="thumbnail" href="#">
					                    <img class="img-rounded" id="thumbnailsFotoGrilla" src="./assets/img/grilla/discovery.jpg" alt="">
					                </span>
					            </div>
					        </div>							
			          	</div>
					</div>					
				</div>
				<!-- Controls -->
			  	<a class="left carousel-control" data-target="#carousel-grilla" role="button" data-slide="prev">
			    	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			    	<span class="sr-only">Previous</span>
			  	</a>
			  	<a class="right carousel-control" data-target="#carousel-grilla" role="button" data-slide="next">
			    	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			    	<span class="sr-only">Next</span>
			  	</a>
			</div>
		</div>
	</div>
</div>
<script>
    $(document).ready(function() {
      var t;
	  var start = $('#carousel-grilla').find('.active').attr('data-interval');
	 t = setTimeout("$('#carousel-grilla').carousel({interval: 25000});", start-1000);

	 $('#carousel-grilla').on('slid.bs.carousel', function () {  
	  clearTimeout(t);  
	  var duration = $(this).find('.active').attr('data-interval');

	  $('#carousel-grilla').carousel('pause');
	  t = setTimeout("$('#carousel-grilla').carousel();", duration-1000);
	  });

	 $('.carousel-control.right').on('click', function(){
	 clearTimeout(t);   
	 });

	 $('.carousel-control.left').on('click', function(){
	 clearTimeout(t);   
	 });

    });
</script>