<div class="modal fade" id="ModalFinal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		<div class="modal-dialog">
			<div class="modal-content text-info">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="exampleModalLabel">Cablevisión ONLINE  /  Compra del Servicio</h4>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-10">
								<p>FELICITACIONES! Tu cuenta fué activada con éxito!</p>
								<p>Envieremos un Email de confirmación a tu casilla para que puedas activar tu cuenta y comenzar a disfrutar del mejor entretenimiento.</p>
							</div>
							<div class="col-md-1 text-success" style="font-size: 2em;">
								<span class="glyphicon glyphicon-ok"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a href="http://200.42.4.20:8080/apps/index.html" class="btn btn-primary">Finalizar</a>
				</div>
			</div>
		</div>
	</div>	
</div>