<style type="text/css">
	#Final{
		max-width: 100%;
    	padding-right: 0px !important;
	}
	
	.bg-final{
		width: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0px;
    	left: 0px;
		background-image: url(assets/img/bg-final.jpg);
		background-size: cover;
	    background-position: 50% 50%;
	    background-repeat: none;
	}
	.btn-online:hover {
	    color: #fff;
	    background-color: #31b0d5;
	    border-color: #269abc;
	    background-position: 0 -15px;
	    text-decoration: none;
	}
	.btn-grande{		
		text-align: center !important; 
		padding: 10px 20px;
	}
	.titulos-premium{
		font-size: 3em;
		color: #23C5FD;
		margin-top: 5px !important;
	    margin-bottom: 5px !important;
	    padding: 20px 0px;
	    font-family: inherit;
	    font-weight: 500;
	    line-height: 1.2;
		}
	.paddin-titulos-premium{
		padding:20% 10% 0% 10%;
	    text-align: center;
	}
	/* Botones azules */
	.btn-online {		
		color: #000;
    	background-color: #5bc0de;
	    background-image: -webkit-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
	    background-image: -o-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
	    background-image: -webkit-gradient(linear,left top,left bottom,from(#5bc0de),to(#2aabd2));
	    background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
	    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	    background-repeat: repeat-x;
	    border-color: #28a4c9;
	    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
    	box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);    	
	}
	.btn-online:hover {
	    color: #fff;
	    background-color: #31b0d5;
	    border-color: #269abc;
	    background-position: 0 -15px;
	    text-decoration: none;
	}
	.btn-grande{		
		text-align: center !important; 
		padding: 10px 20px;
	}
	.btn-inline {
	    display: inline-block;
	    padding: 6px 12px;
	    margin-bottom: 0;
	    font-size: 14px;
	    font-weight: normal;
	    line-height: 1.42857143;
	    text-align: center;
	    white-space: nowrap;
	    vertical-align: middle;
	    -ms-touch-action: manipulation;
	    touch-action: manipulation;
	    cursor: pointer;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    background-image: none;
	    border: 1px solid transparent;
	}
	.btn-block{
		display: block; 
		text-align: center !important; 
		padding: 5px;
	}
	.btn-bonificado{
		margin:20px;
		width: 200px;
	}
	.text-colorCy{
		color: #23C5FD;
	}
	@media only screen and (max-width: 768px) {
		body{
			padding-right: 0px !important;
		}
		.margen20 {
		    padding-left: 0px;
		}
		.paddin-titulos-premium{
			padding-top: 50%;
		}
		.titulos-premium{
			font-size: 3em;
			color: #23C5FD;
			margin-top: 55px !important;
		    margin-bottom: 5px !important;
		    font-family: inherit;
		    font-weight: 500;
		    line-height: 1.2;
		}
	}
	@media only screen and (max-width: 768px) {
		.titulos-premium{
			font-size: 1.8em;			
		}
	}
</style>

<section id="Final" class="bg-final">
	<div class="container-fluid paddin-titulos-premium">	
		<div>
			<span class="text-colorCy titulos-premium">¡Felicitaciones!<br> Activaste tu cuenta de<br> Cablevisión Online.</span>
		</div>
		<div>
			<h6 style="padding: 20px 0px;">Ya podés disfrutar del mejor entretenimiento<br> cuando quieras y donde quieras</h6>
		</div>
		<div class="hidden-xs">
			<a href="http://200.42.4.20:8080/apps/index.html" type="button" id="btn-comenzar" class="btn-inline btn-online">Comenzar</a>
		</div>
		<div class="visible-xs">
			<a href="http://200.42.4.20:8080/apps/index.html" type="button" id="btn-comenzar" class="btn-inline btn-block">Comenzar</a>
		</div>
		
	</div>
</section>