<div class="container-fluid">
	<div class="row customCatv1">
		<div class="hidden-xs col-sm-4 catv">
			<img src="assets/img/tv-cable-01.jpg">			
		</div>
		<div class="col-xs-12 col-md-offset-2 col-sm-6 col-md-offset-0">
			<div class="text-left banner">
				<div class="banner-align-middle">
					<h2>Debes tener el Servicio de Televisión por Cable.....</h2>
					<h4>Concreta la instalación en tu domicilio.</h4>
					<div>
						<div class="hidden-xs">
							<a href="http://www.cablevisionfibertel.com.ar/section/view/2150?origen=BMedioCliente" target="_blank" class="btn btn-lg btn-warning">consultar</a>
						</div>
						<div class="visible-xs">
							<a href="http://www.cablevisionfibertel.com.ar/section/view/2150?origen=BMedioCliente" target="_blank" class="btn btn-warning btn-block">consultar</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>