@font-face {
	font-family: "ROB-Thin";
	src:url(Thin.eot);
	src:url(Thin.eot?#iefix) format("embedded-opentype"),url(Thin.ttf) format("truetype");
	src:
}
@font-face {
	font-family: "ROB-Light";
	src:url(Light.eot);
	src:url(Light.eot?#iefix) format("embedded-opentype"),url(Light.ttf) format("truetype");
}
@font-face {
	font-family: "ROB-Regular";
	src:url(Regular.eot);
	src:url(Regular.eot?#iefix) format("embedded-opentype"),url(Regular.ttf) format("truetype");
}
@font-face {
	font-family: "ROB-Medium";
	src:url(Medium.eot);
	src:url(Medium.eot?#iefix) format("embedded-opentype"),url(Medium.ttf) format("truetype");
}
@font-face {
	font-family: "ROB-Bold";
	src:url(Bold.eot);
	src:url(Bold.eot?#iefix) format("embedded-opentype"),url(Bold.ttf) format("truetype");
}
@font-face {
	font-family: "ROB-Black";
	src:url(Black.eot);
	src:url(Black.eot?#iefix) format("embedded-opentype"),url(Black.ttf) format("truetype");
}
@font-face {
	font-family: "ROB-ThinIt";
	src:url(ThinIt.eot);
	src:url(ThinIt.eot?#iefix) format("embedded-opentype"),url(ThinIt.ttf) format("truetype");
	src:
}
@font-face {
	font-family: "ROB-LightIt";
	src:url(LightIt.eot);
	src:url(LightIt.eot?#iefix) format("embedded-opentype"),url(LightIt.ttf) format("truetype");
}
@font-face {
	font-family: "ROB-Italic";
	src:url(Italic.eot);
	src:url(Italic.eot?#iefix) format("embedded-opentype"),url(Italic.ttf) format("truetype");
}
@font-face {
	font-family: "ROB-MediumIt";
	src:url(MediumIt.eot);
	src:url(MediumIt.eot?#iefix) format("embedded-opentype"),url(MediumIt.ttf) format("truetype");
}
@font-face {
	font-family: "ROB-BoldIt";
	src:url(BoldIt.eot);
	src:url(BoldIt.eot?#iefix) format("embedded-opentype"),url(BoldIt.ttf) format("truetype");
}
@font-face {
	font-family: "ROB-BlackIt";
	src:url(BlackIt.eot);
	src:url(BlackIt.eot?#iefix) format("embedded-opentype"),url(BlackIt.ttf) format("truetype");
}
