*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

hr{
	border-style: solid;
	border-color: #E4E4E4;
	border-width: 0.2rem 0px 0px;
}

.better-tab{
	margin-left: 15px;
}

.panel-heading{
	text-align: center;
	background-color: #ccc;
	margin-bottom: 25px;
}

/*   HEADER    */

.header {
	min-width: 310px;
    width: 100%;
    margin: 0px auto;
    padding: 10px 20px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#botoneraHeader .descr-left {
    float: left;
    height: 50px;
}
#botoneraHeader .descr-left span{
	font-size: 0.9em !important; 
	vertical-align: top;
}
#botoneraHeader .descr-right {
    float: right;
    height: 50px;    
}
.customImagenLeft{
	float: left;
	max-width: 220px;
	
}
.customImagenRight{
	height: 24px; 
	max-width: 48px;
	margin-right: 10px;
}
.headerLogo{
	width: 220px;
    height: 50px;
    margin: 0px 0px 0px 0px;
}

.logoCaja{	
	width: 220px;
    height: 50px;
    overflow: hidden;
    position: absolute;
    margin: 0px 0px 0px 10px;
}

.padding-top-70{
	padding-top: 70px !important;
}

.media-body {
    width: auto !important;
}
.media{
	margin-top: 10px !important;
}

a span{
    color: #ffffff;
    text-decoration: none;
}

a:active span,
a:hover span{
  text-decoration: none;
}

/* BREADCRUMB  */

.breadcrumb {
    background-color: #dddddd !important;
    border-radius: 0px !important;
    margin-bottom: 0px;
}

/*  CATV Landing*/

.customCatv1{    
	color: #3073ac !important;
	background-color: #ffffff !important;
}
.catv {
	padding-left: 0px !important;
}
.catv img{	
	padding-left: 0px !important;
	max-width: 92%;
	min-width: 300px;
}

/*   BANNER */
.color1, .color1 a{
	color: #ffffff !important;
}
.color1 a:active, .color1 a:hover{
  text-decoration: none;
  color: #000000 !important;
}
.color2{
	color: #000000 !important;
}

.customBanner {
	background-image: url(../img/imagebase-cd.jpg);
	background-repeat: no-repeat; 
	background-size: auto 100%; 
	background-position:10% 50%;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.banner-card .texto {
	margin-left: 20px;
	margin-bottom: 5px;		
}

/* SLIDER FADE */
.carousel-fade .carousel-inner .item {
	opacity: 0;
	-webkit-transition: opacity .9s;
  	-moz-transition: opacity .9s;
  	-o-transition: opacity .9s;
  	transition: opacity .9s;
}
.carousel-fade .carousel-inner .active {
	opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	left: 0;
	opacity: 0;
	z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}
.carousel-fade .carousel-control {
	z-index: 2;
}

.hero{
	position:relative;
	height:400px
}
.hero__background{
	bottom:0;
	left:0;
	overflow:hidden;
	position:absolute;
	right:0;
	top:0
}
.hero__background video{
	bottom:0;
	height:100%;
	position:absolute;
	width:auto;
}
.hero__content{
	height:400px;
	z-index:2
}
.hero__content-footer{
	background-color:#000;
	background-color:rgba(0,0,0,0.6);
	bottom:0;
	left:0;
	padding-bottom:30px;
	padding-top:30px;
	position:absolute;
	right:0
}
.hero-slideshow{
	height:100%;
	width:100%
}
.hero-slideshow .air-slide{
	background-color:#000
}
.hero-slideshow img{
	bottom:0;
	position:absolute
}
.page-container{
	width:1045px
}
.page-container-responsive{
	width:auto
}
.page-container,
.page-container-responsive{
	margin-left:auto;
	margin-right:auto;
	padding-left:12.5px;
	padding-right:12.5px
}
.page-container:before,
.page-container-responsive:before,
.page-container:after,
.page-container-responsive:after{
	content:" ";
	display:table
}
.page-container:after,
.page-container-responsive:after{
	clear:both
}
.page-container-full{
	width:auto
}
.page-container-full:before,
.page-container-full:after{
	content:" ";
	display:table
}
.page-container-full:after{
	clear:both
}
.text-black{
	color: #000000;
	font-weight: bold;
}
.textSecc3{
	margin-top:5%;
	margin-left:30%;
}
.thumbnail > img{
	height: 180px;
}
.thumbnailsTitulo{
	text-align: center;
}
.thumbnailsFoto{
    overflow: hidden;
    margin: 0px 0px 0px 0px;
}
.thumbnailPremium{
	margin-left: 5%;
}
.thumbnailsFotosPremium{
	overflow: hidden;
	height: 90px !important;
}
#thumbnailsFoto1{
    height: 440px;
    overflow: hidden;
}
#thumbnailsFoto6{
	height: 125px;
	overflow: hidden;
}

/* Margin */
.margin-bottom-0{
	margin-bottom:0px;
}
.margin-bottom-30{
	margin-bottom:30px;
}
.margin-left-20{
	margin-left: 20px !important;
}
.margin-top-15{
	margin-top: 15px !important;
}
.margin-top-70{
	margin-top: 70px !important;
}


/* FOOTER*/

.customTitulos{
	font-weight: bold; 
	color: #ffffff;
}

/*  Youre-Tv-PIC */

.yourtv-pic{
	margin: 0;
	padding: 0;
	max-width: 100%;
	min-width: 300px;
	background-image: url(../img/yourtv-3000.jpg);
	background-attachment: fixed;
	background-position: 50% 50%;
	background-size: cover;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
}
#dvCustomCol12{
	padding-right: 0px !important;
    padding-left: 0px !important;
}

/* ValidacionIp.html  */
.servicios{
	margin: 20px;
	color: #999;
}
.panel-heading {    
    margin-bottom: 0px !important;
}
.lbPrecios{
	float: right;
	font-size: 1.2em;
	color: #3073ac;
}
.lbPreciosTotalText{
	font-weight: normal;	
	font-size: 1.8em;
	color: #999999;
	float: left;
}
.lbPreciosTotalNum{
	font-weight: normal;	
	font-size: 1.8em;
	color: #73a839;
	float: right;
}
.panel-success {
   border-color: #73a839 !important;
}
.panel-success > .panel-heading{
	color: #ffffff !important;
    background-color: #73a839 !important;    
	background-image: none !important;
    background-image: -webkit-linear-gradient(none) !important;
    background-image: -o-linear-gradient(none) !important;
    background-image: -webkit-gradient(none) !important;
    background-image: linear-gradient(none) !important;
}

/*  Checkout.php  */

.servicios{
	margin: 20px;
	color: #999;
}
.dropdown{
	margin: 10px 0px;
}

/* Oferta Comercial Compra .html  */

.customColor{    
    border: 1px solid #3073ac !important;
}
.customTitulosTenes{
	text-align: center;
	font-weight: bold; 
	color: #3073ac;
}