/*------------------------------------*\
    $CONTENIDO
\*------------------------------------*/
/**
 * $RESET..................Establece los valores iniciales
 * $DISEÑO PERSONALIZADO
 * 		-GENERALES
 *		-NAV HEADER FIXED
 *		-SECCION1 CUERPO
 *		-SECCION2 CUERPO
 *		-MEDIA QUERIES
 */

/*------------------------------------*\
    $RESET
\*------------------------------------*/
*{ box-sizing: border-box; }
html {
  font-family: 'Lato', sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  margin: .67em 0;
  font-size: 2em;
}
mark {
  color: #000;
  background: #ff0;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -.5em;
}
sub {
  bottom: -.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  height: 0;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}
legend {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
/*------------------------------------*\
    /$RESET
\*------------------------------------*/

/*------------------------------------*\
    $DISEÑO PERSONALIZADO
\*------------------------------------*/
/*------------------------------------*\
    -GENERALES
\*------------------------------------*/
body{
	background-color: #000000;
	color: white;
	font-family: 'Lato', sans-serif;
}

a, a:visited, a:hover{
	font-style: none;
}

.fa-1{ font-size: 1em; }
.fa-2{ font-size: 2em; }
.fa-3{ font-size: 4em; }
.fa-4{ font-size: 7em; }
.fa-5{ font-size: 12em; }
.fa-6{ font-size: 20em; }

.corpse{
	/* FIXED */
	padding-top: 101px;
}

#scrollable{
	color: #2A303C;
}

video{
  width:100%;
}


/*------------------------------------*\
	-NAV HEADER FIXED

\*------------------------------------*/

/* BANNER */

.banner{
  overflow:hidden;    
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;

}

.banner img{
  height: 100%;
}

.banner div[class^='col-']{
  display: table;
  height: 100%;

}

.banner .banner-align-middle{
  display: table-cell;
  vertical-align: middle;
}

.banner-xs{
  /*pendiente a definir*/
  height: 150px;
  
}

.banner-sm{
  /*banner tipo tienda y club*/
  height: 200px;
}

.banner-md{
  /*banner tipo homes*/
  height: 433px;
}

.banner-lg{
  /*Pendiente a definir*/
  height: 500px;
  
}
.banner-lg h2{
  font-size: 40px;
}

.banner-card{
  padding: 20px;
  position: relative;
  border-radius: 15px;
  opacity: 0.9;
}

.custom-bar-premio-titulo {
  font-size: 16px;
  width: 50%;
}

.custom-bar-premio-descripcion {
  font-size: 15px;
}

.custom-bar-premio-titulo-barra {
  font-size: 18px;
  padding: 10px 0px;
}

.custom-bar-premio-precio-barra {
  font-size: 16px;
}

.custom-bar-premio-detalle {
  padding: 12px 0px;
  margin-left: 20px;
  display: inline-block;
}

.custom-bar-descuento-titulo,
.custom-bar-descuento-detalle {
  font-size: 20px;
  display: inline-block;
}

.custom-bar-descuento-detalle {
  padding: 11px 20px;
  margin-left: 20px;
  background-color: #393939;
}

.custom-bar-descuento-clave,
.custom-bar-descuento-numero {
  font-weight: bold;
  color: #00b4c5;
}

.custom-bar-detalle-container.visible-xs {
  text-align: center;
}

.custom-bar-detalle-container.visible-xs .custom-bar-descuento-detalle {
  background-color: #000000;
  font-size: 16px;
}

.banner-card-color {
    color: #000000;
}

.banner-card-color {
    background-color: #afb4b9;    
}

.banner-card .tp-barra-colores{
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px
}

/* clases custom a definir por banner */

.background-color-1{ background-color: #b8f5f6; }

.text-card-color-4{color: #ffffff;}

/*------------------------------------*\
	-SECCION1 CUERPO





\*------------------------------------*/

.content-left, .content-right{
	display: table;
	width: 49%;
	float: left;
}
	
.content-left{
	padding-top: 0px;	
}
	.content-left h1{
		font-size: 4.2rem;
	}
	.text{
		text-align: left;
		width: 80%;
		margin-left: auto;
	}

.content-right{}
	.content-right-img{	
		margin-left: 25%;
		margin-right: auto;
	}
	.elevado{
		float: left;
		margin-right: -2%;
		margin-top: -10%;
	}

/*------------------------------------*\
	-SECCION2 CUERPO
	-temp SECCION3





\*------------------------------------*/


/*------------------------------------*\
	-FOOTER

\*------------------------------------*/

#category-navigation .item {
      float: left;
      margin: 0 25px 0 0;
  }
  #category-navigation li {

      list-style: none;
      font-size: 11px;
      font-weight: bold;
  }

  li {
    display: list-item;
    text-align: -webkit-match-parent;
}
nav{
    display: block;
}

#category-navigation {    
    color: #666;    
    height: 200px;
    line-height: 14px;
    padding-top: 44px;
    margin-bottom: -60px;
}
div, span, p, a, nav{
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-weight: normal;
    font-style: normal;
    height: auto;
}

#footer-left-area {
  margin-top: 40px;
    float: left;
}
#footer-navigation {
    clear: both;
    display: block;
}
#copyrights p {
    color: #999;
    font-size: 9px;
    line-height: 12px;
}

#legal-navigation {      
    display: block;
    line-height: 12px;    
}
#legal-navigation ul{
  list-style:none;
}
#legal-navigation li a {
    color: #666;
    font-size: 9px;    
}
#contact-info {
  margin-top: 40px;
    width: 480px;
    float: right;
    color: #333;
}
#contact-info .fContact {
    color: #4862A3;
}

#contact-info .tContact {
    color: #31AAE1;
}

#contact-info .fContact, #contact-info .tContact {
    float: left;
    min-height: 29px;
}

#contact-info a {
    color: #333;
}


#contact-info .pContact, .popup .pContact {
  margin-top: 20px;
    font-size: 12px;
    line-height: 13px;
    width: 150px;
    float: right;
    overflow: hidden;
}
.regular {
    font-family: 'OmnesRegular';
}
#contact-info .pContact .phone, .popup .pContact .phone {
    clear: both;
    display: block;
    font-size: 14px;
    line-height: 15px;
    height: 15px;
    margin: 2px 0;
    padding-left: 18px;
    background: transparent url(../img/icon-p.png) 0 center no-repeat;
}
.semibold {
     font-weight: bold;
     font-family: "Serif", Georgia;
}
/*------------------------------------*\

	-Background

\*------------------------------------*/

.fondo-principal{
	background-color: none;
	background:#fff url(../img/CVFT_consumos_reverso.png) repeat-y top;	
	background-size: 100%;	
	min-height: 700px;	
}


/*------------------------------------*\
	-MEDIA QUERIES
\*------------------------------------*/

@media(max-width: 321px){
  .encabezado{
    top: 0%;
    position: block !important;
    width: 100%;
    background-color: #232C3E;
  }
  .text{
    width: 100% !important;
    margin-left: 10px;
    margin-right: 10px;
  }
  .carousel-caption {
    right: 0% !important;
    bottom: 0px !important; 
    left: 0% !important;
    padding-top: 5px !important;
    padding-bottom: 0px !important;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
  }
  .col-xs-12{      
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
  h1, .h1 {
    font-size: 20px;
  }
  h2, .h2 {
    font-size: 15px;
  }
  h3, .h3 {
    font-size: 12px;
  }
  h4, .h4 {
    font-size: 10px;
  }
  
}
@media(max-width: 480px){
  .corpse{ padding-top: 18%; }
  .text h1{ font-size: 3rem; }
  .art-img, .art-txt{ 
    width: 100%;
    text-align: center;
  }
  .art-right{ float: none; }

  .logoCaja {    
    margin: 0px !important;
    height: auto !important;
  }
  .headerLogo {
    width: 100% !important;
    /* height: 50px; */
    margin: 0px 0px 0px 0px;
  }
  .customImagenLeft {
    width: 80% !important;
  }
  .carousel-caption {
    right: 0% !important;
    bottom: 0px !important; 
    left: 0% !important;
    padding-top: 5px !important;
    padding-bottom: 0px !important;
  }
  .slider-height-2{
    max-height:150px !important;
  }
  .slider-height-3{
    max-height:150px !important;
  }
}
@media(max-width: 767px){
	#content{padding-top: 0;}
	.corpse{ padding-top: 97px; }
	.menu{ display: none; }
	.resp-menu{ display: inline-block; }
	.content-left{ width: 100%; }
  h1, .h1 {
      font-size: 20px;
  }
  h2, .h2 {
      font-size: 15px;
  }
  h3, .h3 {
      font-size: 12px;
  }
  h4, .h4 {
      font-size: 10px;
  }
  .hero-slideshow img{
    height:100%;
    min-width:100%;
    width:auto
  }
  .hero__content{
    height:auto;
    padding-bottom:0px;
    top:0px;
  }
  .banner .banner-align-middle {
    display:list-item;
  }
  .carousel-caption {    
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
  }
  .banner{
    height: auto;
    padding: 10px;
    background-image: none !important;
  }
  .ajTxt768{
    margin-left: 60px;
  }
  .slider-height-2{
    max-height:300px;
  }
  .slider-height-3{
    max-height:400px;
  }
  .thumbnail > img{
    height: 90px !important;
  }
  #thumbnailsFoto1{
    width: 100% !important;
    height: auto !important;    
  }
  #thumbnailsFoto6{
      height: 100px !important;   
  }

}
@media (min-width: 768px){
  .hero{
    height:600px
    }
  .hero__content{
    height:550px;
    padding-bottom:104px;
    top:50px
  }
  .page-container-responsive{
    width:745px
  }
  .carousel-caption {
    right: 0% !important;
    left: 0% !important;
  }
}
@media (min-width: 768px) and (max-width: 1023px){
    .hero-slideshow img{
      height:100%;
      width:auto
    }
    .page-container,
    .page-container-responsive{
      padding-left:25px;
      padding-right:25px
    }
    .slider-height-2{
      max-height:250px !important;
    }
    .slider-height-3{
      max-height:400px !important;
    }    
}
@media(max-width: 992px){
  .content-right{ display: none; }
  .content-left{ width: 100%; }
  .wrapper{ width: 100%; }
  .text{ width: 100%; padding: 5%;}
}
@media(min-width: 1024px){
	.corpse{margin-top: auto;}
  .hero__background video{
    height:auto;
    width:100%
  }
  .hero-slideshow img{
    width:100%;
    height:auto
  }
  .page-container-responsive{
    width:1045px
  }
  .slider-height-2{
    max-height:250px !important;
  }
  .slider-height-3{
    max-height:550px !important;
  }   
}