
<!-- Header -->
<div ng-include="'views/header-home-predemo.html'"></div>
<!-- Banner -->
<div ng-include="'views/home-section-0.html'"></div>
<!--div ng-include="'views/home-section-1.html'"></div-->
<!--div ng-include="'views/home-section-2.html'"></div>
<div ng-include="'views/home-section-3.html'"></div>
<div ng-include="'views/home-section-4.html'"></div-->
<!-- MODAL -->
<div ng-include="'views/modal-login.html'"></div>
<!--div ng-include="'views/modal-ultimosEstrenos.html'"></div-->
<!-- Footer -->
<!-- div ng-include="'views/footer.html'"></div -->