<!-- Header -->
<div ng-include="'views/header3.html'"></div>
<!-- Ofertas para Contratacion -->
<div ng-include="'views/oferta-premium.html'"></div>
<!-- MODAL -->
<div ng-include="'views/modal-resumen.html'"></div>