<!-- Header -->
<div ng-include="'views/header3.html'"></div>
<!-- Ofertas para Contratacion -->
<div ng-include="'views/oferta-comercial3.html'"></div>
<!-- MODAL -->
<div ng-include="'views/modal-mail-validation.html'"></div>